<div id="top" class="row">
    <div class="col-8">
        <img src="assets/images/logo.jpg">
    </div>
    <div class="col-3">
        <img src="assets/images/banner.png">
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-light col-12">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light" href="#">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">
                    <i class="fas fa-th-large"></i>
                    Giới thiệu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">
                    <i class="fas fa-phone"></i>
                    Liên hệ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">
                    <i class="fas fa-envelope"></i>
                    Góp ý
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">
                    <i class="fas fa-question-circle"></i>
                    Hỏi đáp
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">
                    <i class="fas fa-user"></i>
                    Tài khoản
                </a>
            </li>
        </ul>
    </nav>
</div>
<br>
<div id="mid" class="row">
    <div id="right" class="col-9">
        khai
        
         <app-lap3-listproduct></app-lap3-listproduct>
            
    </div>
    <div id="left" class="col-2">
        <div id="cart">
            <img src="assets/images/cart.jpg" width="90px" height="90px">
        </div>
        <br>
        <div id="keywords">
            <input type="text" class="form-control" placeholder="Keyworks">
        </div>
        <br>
        <div id="species">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <label class="text-dark" >
                           <strong>
                            <i class="fas fa-list"></i>
                               Chủng loại
                            
                            </strong> 
                        </label>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <a href="#">Điện thoại di động</a><br><hr>
                            <a href="#">Máy tính xách tay</a><br><hr>
                            <a href="#">Tivi</a><br><hr>
                            <a href="#">Tủ lạnh</a><br><hr>
                            <a href="#">Quạt máy</a><br><hr>
                            <a href="#">Máy tính bảng</a>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>

</div>