<h1>Bài 1-1</h1>
<form class="col-6">
    <div class="form-group">
        <label>Chiều dài</label>
        <input type="number" [(ngModel)]="cd" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label>Chiều rộng</label>
        <input type="number" [(ngModel)]="cr" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label>Chu vi</label>
        <input type="number" [(ngModel)]="cv" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label>Diện tích</label>
        <input type="number" [(ngModel)]="dt" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <button type="number" class="btn btn-primary" (click)="tinh();">tính</button>
</form>
<br><br>

<h1> Bài 1-2 </h1>

<form class="col-6">
    <div class="form-group">
        <label>Họ và tên</label>
        <input type="text" [(ngModel)]="student.hoten" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label>Ngày sinh</label>
        <input type="date" [(ngModel)]="student.ngaysinh" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label>Giới tính</label>
        <select class="custom-select" [(ngModel)]="student.gioitinh" [ngModelOptions]="{standalone:true}">
            <option value="nam">Nam</option>
            <option value="nu">Nữ</option>
        </select>
    </div>
    <div class="form-group">
        <label>Điểm</label>
        <input type="number" [(ngModel)]="student.diem" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label>Học lực</label>
        <input type="text" [(ngModel)]="student.hocluc" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <button type="number" class="btn btn-primary" (click)="tinhdiem();">tính điểm</button>
</form>
<br><br>
<h1> BÀI 2 </h1>
<h3>Tính Lương Tết Nguyên Đán</h3>
<form class="col-6">
    <div class="form-group">
        <label>Họ và tên</label>
        <input type="text" [(ngModel)]="nhanvien.hotennv" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label>Lương</label>
        <input type="text" [(ngModel)]="nhanvien.luong" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label>Giới tính</label><br>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" [(ngModel)]="nhanvien.gioitinhnv"
                [ngModelOptions]="{standalone:true}" id="customRadio" name="example" value="nam">
            <label class="custom-control-label" for="customRadio">Nam</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" [(ngModel)]="nhanvien.gioitinhnv"
                [ngModelOptions]="{standalone:true}" id="customRadio2" name="example" value="nu">
            <label class="custom-control-label" for="customRadio2">Nữ</label>
        </div>
    </div>
    <div class="form-group">
        <label>Độ tuổi</label>
        <select class="custom-select" [(ngModel)]="nhanvien.dotuoi" [ngModelOptions]="{standalone:true}">
            <option *ngFor="let t of list" value="{{t.rate}}">{{t.age}}</option>

        </select>
    </div>
    <div class="form-group">
        <div class="alert alert-success">
            <label>Thưởng</label>
            {{tinhthuong()}} <strong> VNĐ</strong>
        </div>
    </div>

</form>
<br><br>
<h1>Bài 3</h1>
<div class="card text-center">
    <div class="card-header">
        Bán hàng giải khát
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tên hàng</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn Giá</th>
                    <th scope="col">Thành Tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let product of products'>
                    <td>
                        <input type="checkbox" [(ngModel)]=checked[product.id]>
                        {{product.name}}
                    </td>
                    <td>
                        <input [disabled]="!checked[product.id]" [id]="product.id" type="text"
                            [(ngModel)]="quantity[product.id]" (input)="onChange(product.id)">
                    </td>
                    <td>
                        {{ product.price | currency:"VND" }}
                    </td>
                    <td>
                        {{ product.price * quantity[product.id] | currency:"VND" }}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
            Grand Total: {{ total | currency:"VND"}}
    </div>
</div>

<h1>BÀI 4</h1>
<div class="card" style=" margin-top: 15px">
    <div class="card-header">
       Tính thưởng ngày tết
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="fullName">Họ và Tên </label>
                <input type="text" id="fullName" name="name" class="form-control" [(ngModel)]="name" required
                    (input)="onChangeName()">
                <div class="alert alert-danger alert-sm" *ngIf="name === '' || !name">Nhập Tên đầy đủ</div>
            </div>

            <div class="form-group">
                <label for="salary">Lương</label>
                <input type="text" id="salary" name="salary" class="form-control" [(ngModel)]="salary"
                    (input)="onChangeSalary()">
                <div class="alert alert-danger alert-sm" *ngIf="!salary">Nhập mức lương </div>
                <div class="alert alert-danger alert-sm" *ngIf="salary && (salary < 2000000)">Lương phải trên 2 triệu
                </div>
                <div class="alert alert-danger alert-sm" *ngIf="salary && !isSalary">Tiền lương là đơn vị số</div>
            </div>

            <div class="form-group">
                <label for="fullName">Giới Tính</label>
                <div class="input-group">
                    <input type="radio" name="gender" (change)="onChangeGender(1)">
                    <label class="ml-3" for="">Nam</label>
                    <input type="radio" class="ml-5" name="gender" (change)="onChangeGender(0)">
                    <label class="ml-3" for="">Nữ</label>
                </div>
            </div>

            <div class="form-group">
                <label for="gender">Độ tuổi</label>
                <select class="form-control" name="group-age" [(ngModel)]="groupAge">
                    <option value="1">Dưới 25 tuổi</option>
                    <option value="2">25 - 40 tuổi</option>
                    <option value="3">Trên 40 tuổi</option>
                </select>
            </div>
        </form>
        <div class="alert alert-success" *ngIf="salary > 2000000 && groupAge && gender">
            Success
        </div>
    </div>

    <div class="card-footer">
        Tiền thưởng:
        <span *ngIf="!salary && !groupAge">{{ 0 | currency:"VND"}}</span>
        <span *ngIf="salary && !groupAge">{{ salary | currency:"VND" }}</span>
        <span *ngIf="groupAge === '1'">{{ salary * 1.7 | currency:"VND" }}</span>
        <span *ngIf="groupAge === '2'">{{ salary * 2 | currency:"VND" }}</span>
        <span *ngIf="groupAge === '3'">{{ salary * 2.5 | currency:"VND" }}</span>
    </div>
</div>