<div class="card" >
    <div class="card-header" >
        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <strong>Name: </strong><br>
                <strong>Code: </strong><br>
                <strong>Description: </strong><br>
                <strong>Availability: </strong><br>
                <strong>Price: </strong><br>
                <strong>5 Star Rating: </strong><br>
            </div>
            <div class="col-6">
                {{product.productName}}<br>
                {{product.code}}       <br>
                {{product.description}}        <br>
                {{product.available}}  <br>
                {{product.price | currency}}<br>
                {{product.starRating}}<br>
            </div>
            <div class="col">
                <img  [src]="product.imageURL" alt="" width="200px" height="200px">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="text-dark" style="direction: none;" href="#">
            <i class="fas fa-arrow-left"></i>
            <strong><label> Back</label></strong>
        </a>
    </div>
</div>
