
<div class="card">
    <div class="card-header">
        <h1>Your Cart</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quality</th>
                <th>Action</th>
            </thead>    
            <tbody>
                <tr *ngFor="let product of listProducts | filter:searchText">
                    <td>{{product.id}}</td>
                    <td><img *ngIf="visibleImage" [src]="product.imageURL" alt="" width="40px" height="40px"></td>
                    <td>{{product.productName}}</td>
                    <td>{{product.price | currency}}</td>
                    <td>
                        <label style="width: 30px;">{{qualities[product.id]}}</label>
                        <button (click) = 'onClickIncrease(product.id)' class="btn btn-primary" type="button" style="width:38px ;height: 38px;"><p class="fas fa-plus"></p></button>
                        <button (click) = 'onClickDecrease(product.id)' class="btn btn-danger" type="button" style="width:38px ;height: 38px;"><p class="fas fa-minus"></p></button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button">View</button>
                        <button class="btn btn-danger" type="button">Delete</button>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <strong>Tolal:</strong>
        <span>{{ totalPrice() }}</span>
    </div>
</div>
