<div class="container">
    <div class="btn-group">
      <button class="btn btn-dark">
        <a [routerLink]="['']">HOME</a>  
      </button>
      <button class="btn btn-success">
        <a [routerLink]="['/product']">List products</a>
      </button>
      <button class="btn btn-dangers">
          <a [routerLink]="['/liststudent']">BAITAP5</a>
        </button>
        <button class="btn btn-light"><a routerLink="/lab2">Lab 2</a> </button>
        <button class="btn btn-success"><a routerLink="/lab3">Lab 3</a> </button>
    </div>
    <button class="btn btn-success"><a routerLink="/lab3-listproduct"> Lab 3 pd</a> </button>
</div>
<button class="btn btn-success"><a routerLink="/lab05"> Lab 05</a> </button>
<router-outlet></router-outlet>
