<div class="container">
    <div class="btn-group">
      <button class="btn btn-dark">
        <a [routerLink]="['']">HOME</a>  
      </button>
      <button class="btn btn-success">
        <a [routerLink]="['/product']">List products</a>
      </button>
      <button class="btn btn-dangers">
          <a [routerLink]="['/liststudent']">BAITAP5</a>
        </button>
        <button class="btn btn-light"><a routerLink="/lab2">Lab 2</a> </button>
    </div>
    
</div>
<router-outlet></router-outlet>
