<!---<div class="container">
    <div class="btn-group">
      <button class="btn btn-dark">
        <a [routerLink]="['']">HOME</a>  
      </button>
      <button class="btn btn-success">
        <a [routerLink]="['/product']">List products</a>
      </button>
      <button class="btn btn-dangers">
          <a [routerLink]="['/liststudent']">BAITAP5</a>
        </button>
        <button class="btn btn-light"><a routerLink="/lab2">Lab 2</a> </button>
        <button class="btn btn-success"><a routerLink="/lab3">Lab 3</a> </button>
    </div>
    <button class="btn btn-success"><a routerLink="/lab3-listproduct"> Lab 3 pd</a> </button>
</div>
<button class="btn btn-success"><a routerLink="/lab05"> Lab 05</a> </button>
<button class="btn btn-danger"><a routerLink="/lab06"> Lab 06</a> </button>
<button class="btn btn-danger"><a routerLink="/lab07"> Lab 07</a> </button>
<button class="btn btn-danger"><a routerLink="/lab08"> Lab 08</a> </button>
<router-outlet></router-outlet>---->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" href="index.html">MY GUITAR SHOP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
  </div>
  
</nav>
<div id="imgheader" >
  <img src="assets/images/guitarbanner.jpg" width="100%" alt="">
</div>
    <app-lab08></app-lab08>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p class="text-white">@ MyGuitarShop.com.vn</p>
</nav>

