<div class="row">
    <div class="col-2 bg-dark" id="menu_left">
        <p style="margin: 10% 0px 0px 90% ;" class="fas fa-bars text-light"></p><br>
        <img style="margin: 0px 0px 0px 28%;" class="img-rounded" src="assets/images/k.jpg" width="100px" height="100px">
        <p style="margin: 0px 0px 0px 33%" class="text-light">Khailegend</p><br><br>
        <div class="container">
            <a class="text-light" href="#" style="direction:none;">
                <p class="fas fa-home"></p> &nbsp;&nbsp; Home
            </a><br>
            <a class="text-light" href="#" style="direction:none;">
                <p class="fas fa-user"></p> &nbsp;&nbsp;&nbsp; Employees
            </a><br>
            <a class="text-light" href="#" style="direction:none;">
                    <p class="fas fa-cloud"></p> &nbsp;&nbsp; Projects
            </a><br>
            <a class="text-light" href="#" style="direction:none;">
                    <p class="fas fa-magic"></p> &nbsp;&nbsp;&nbsp; Skills
            </a><br>
            <a class="text-light" href="#" style="direction:none;">
                    <p class="fas fa-user-circle"></p> &nbsp;&nbsp;&nbsp; Interns
            </a><br>
            <a class="text-light" href="#" style="direction:none;">
                    <p class="fas fa-bookmark"></p> &nbsp;&nbsp;&nbsp; Topics
            </a><br>
            <a class="text-light" href="#" style="direction:none;">
                    <p class="fas fa-book"></p> &nbsp;&nbsp;&nbsp; Courses
            </a><br>
            <a class="text-light" href="#" style="direction:none;">
                    <p class="fas fa-bookmark"></p> &nbsp;&nbsp;&nbsp; Topics courses
            </a><br>
            <a class="text-light" href="#" style="direction:none;">
                    <p class="fas fa-file"></p> &nbsp;&nbsp;&nbsp; Classes
            </a><br>
        </div>

    </div>
</div>